{% extends 'base.html' %}
{% block base %}
<!-- Dashboard Layout -->
<div class="d-flex flex-column flex-lg-row vh-100 overflow-hidden" style="background-color: #0F172A;">
    <!--  Nav -->
    {% include "components/nav.html" %}
    

    <!-- Main Content Area -->
    <div class="flex-grow-1 overflow-auto p-0 bg-black">
        {% include "components/top_nav.html" %}
        
        <!-- Dashboard Hero/Welcome Section -->
        <div class="container-fluid p-4">
            <!-- Welcome Section -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card border-0 shadow-sm" style="background-color: #2d3748; border-radius: 15px;">
                        <div class="card-body p-4">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}